:root {
    --spacer: 15px!important;
}

.mt-button {
    margin-top: calc(var(--spacer) * 3)!important;
}

.dialog-wrapper {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dialog-content {
    position: relative;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: azure;
    padding: 2rem;
    border-radius: 1rem;
}

.dialog-title {
    align-self: center;
    text-align: center;
}

.dialog-form {
    width: 450px;
    margin-top: calc(var(--spacer) * 3)!important;
    align-self: center;
}

.dialog-submit-button {
    margin-top: calc(var(--spacer) * 3)!important;
    align-self: center;
}

.dialog-cancel-button {
    margin-top: calc(var(--spacer) * 1.5)!important;
    align-self: center;
}

.v-overlay__scrim {
    opacity: 75%!important;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: lightblue;
    border-radius: 1rem;
    padding: 2rem;
    align-self: center;
}

.list-title-wrapper {
    display: flex;
    flex-direction: row;
    height: 15%;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
    width: 45%;
}

.list-items-wrapper {
    width: 100%;
    height: 65%;
    overflow: auto;
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.list-item {
    font-size: 18px;
    width: 45%;
}

.list-trash-icon-wrapper {
    width: 10%;
    padding-right: 1rem;
}

.list-trash-icon {
    width: 15px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.list-add-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20%;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.menu-wrapper {
    align-self: center;
}

.menu-item {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.main-content-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logout-link {
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 20px;
    font-weight: 500;
    color: cornflowerblue;
    text-decoration: none;
}

.router-link-active {
    font-weight: 700;
    color: cornflowerblue!important;
    text-decoration: underline!important;
}
